@model simple_leave_management_system.Models.LeaveQuota

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LeaveQuota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LeaveQuotaId" />
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select readonly asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                <select asp-for="LeaveTypeId" class="form-control" asp-items="ViewBag.LeaveTypeId"></select>
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveYear" class="control-label"></label>
                <input asp-for="LeaveYear" class="form-control" />
                <span asp-validation-for="LeaveYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAllocated" class="control-label"></label>
                <input asp-for="TotalAllocated" class="form-control" />
                <span asp-validation-for="TotalAllocated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalUsed" class="control-label"></label>
                <input asp-for="TotalUsed" class="form-control" />
                <span asp-validation-for="TotalUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
